@{
    ViewData["Title"] = "Main Menu";
}

<h2>Les 1: Inleiding</h2>

<a asp-controller="HelloWorldWithView" asp-action="Index">Hello World</a><br />
<!--<a asp-controller="HelloWorldWithView" asp-action="Welcome"
   asp-route-name="Rick" asp-route-numTimes="5">Welcome</a><br />-->

<h2>Les 3: Data Lezen</h2>

<a asp-controller="Movies" asp-action="List">All Movies</a><br />


